$shrik: "Shrikhand", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Shrikhand&display=swap");
$lblue: #a0c3f8;
$lpink: #ebb4d2;
$white: #e0fcec;
$lgreen: #b1f8cf;
$dpurple: #774f65;
$nunito: "Nunito", serif;
